---
import { getCollection } from "astro:content";
import Contenedor from "../../components/Contenedor.astro";
import Navegador from "../../components/Navegador/Navegador.astro";
import { render } from "astro:content";
import Star from "../../assets/Star.astro";
import Person from "../../assets/Person.astro";
import Calendar from "../../assets/Calendar.astro";
import Barcode from "../../assets/Barcode.astro";
import Pages from "../../assets/Pages.astro";
import Building from "../../assets/Building.astro";
import Boy from "../../assets/Boy.astro";
import Back from "../../assets/Back.astro";
import Layout from "@/layouts/Layout.astro";

export async function getStaticPaths() {
  const books = await getCollection("book");

  return books.map((book) => ({
    params: { id: book.id },
    props: { book },
  }));
}

const { book } = Astro.props;
const { Content } = await render(book);

const { id, data } = book;
const {
  title,
  author,
  bookcover,
  publicationdate,
  keywords,
  publisher,
  ISBN,
  averagerating,
  numberofreviews,
  numberofpages,
  readingage,
  authorbiography,
} = data;
---

<Layout />
<Contenedor>
  <div class="md:flex flex-row justify-between mt-6">
    <div class="md:w-1/2 flex-col mx-auto">
      <a
        class="no-underline mb-4 text-lg uppercase font-bold flex items-center gap-3"
        href="/"><Back /> Retroceder</a>
      <img
        transition:name={`img-${id}`}
        class="w-80 h-auto rounded-xl"
        src={"../content/book/img/" + bookcover}
        alt=`Imagen del libro ${title}`
      />
      <div class="prose">
        <h2 class="text-lg text-black font-bold mt-4 mb-0">Detalles</h2>
        <ul class="list-none p-0 flex flex-col">
          <li class="flex gap-2"><Star /> valoracion {averagerating}/5</li>
          <li class="flex gap-2">
            <Person />
            <a href=`/author/${authorbiography}` class="cursor-pointer"
              >{author}</a
            >
          </li>
          <li class="flex gap-2">
            <Calendar /> Fecha Publicación {publicationdate}
          </li>
          <li class="flex gap-2"><Boy /> Edad de lectura {readingage}</li>
          <li class="flex gap-2"><Building /> Editorial {publisher}</li>
          <li class="flex gap-2">
            <Pages /> Numero de paginas {numberofpages}
          </li>
          <li class="flex gap-2"><Barcode /> {ISBN}</li>
        </ul>
      </div>
    </div>
    <div class="md:w-1/2 flex justify-start flex-col gap-y-2 mx-auto">
      <h1 class="text-black text-4xl font-bold">{title}</h1>
      <div class="flex gap-2 flex-wrap">
        {
          keywords.map((key: string) => {
            return (
              <span class="py-2 px-3 bg-orange-200 rounded-full text-sm text-white font-bold">
                {key}
              </span>
            );
          })
        }
      </div>
      <div class="prose text-lg">
        <Content />
      </div>
    </div>
  </div>
</Contenedor>
